.box {
    border: 1px solid #ccc;
    background: #fcfcfc;
    padding: 1.2rem;
    font-size: 0.8rem;
    font-family: monospace;
}

@media screen and (min-width: 768px) {
    .box {
        float: right;
        max-width: 50%;
        margin-left: 2rem;
        margin-bottom: 2rem;
    }

}

@media screen and (min-width: 64rem) {
    .box {
        margin-right: -10%;
    }

}

.boxHeading {
    margin-top: 0;
    margin-bottom: 0.2rem;
}

.boxContent {
    margin-top: 0;
    margin-bottom: 0;
}